NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://Mshi:<db_password>@ac-8cockiq-shard-00-00.b6u81zr.mongodb.net:27017,ac-8cockiq-shard-00-01.b6u81zr.mongodb.net:27017,ac-8cockiq-shard-00-02.b6u81zr.mongodb.net:27017/communityhub?ssl=true&replicaSet=atlas-11w89b-shard-0&authSource=admin&appName=community-hub-cluster
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173